<h1>{{title}}</h1>

<h2>PRINT & SET-UP BIBLE</h2>

<div class="top-cointainer">
  <img class="topelement1" src="/images/glassprint1.jpg" alt="">

  <video  class="topelement2" muted autoplay>
    <source src="/images/risovideo1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video> 

  <p class="topelement3">
    Popular among the zine and small press community due to low production costs, Riso prints come with a naïve colourfulness that makes them seem easy to make. Appearances can be deceptive, though, as Risograph printing is a hard technique to learn, let alone master. 
    <br>
    <br>
    To create the perfect print requires finding the balance between your design and the way it will turn out best in print - and to know that the end result will always be a bit different than planned, such is its unpredictable nature.
  </p>
</div>