<h1>{{title}}</h1>

<h2>{{number}}</h2>

<div id="home-cointainer">
  <div class="home-elements">
    <p>Riso</p>
    <a href="/riso"><img src="/images/riso1.jpg" alt="Riso"></a>
  </div>
  <div  class="home-elements">
    <p>Vacuum Forming (3D Printer)</p>
    <a href="/vacu"><img src="/images/vacuform1.png" alt="Vacuum Forming (3D Printer)"></a>
  </div>
  <div  class="home-elements">
    <p>Glass Printing (Offset)</p>
    <a href="/glass"><img src="/images/glassprint1.jpg" alt="Glass Printing (Offset)"></a>
  </div>
</div>